body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(13, 207, 201, 0.572), rgb(222, 148, 10));
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

h1{
    color: black;
    margin-bottom: 10px;
}

form{
    margin: 20px;
    background: yellow;
    padding: 20px;
    border-radius: 5px;
}

label{
    font-weight: italic;
}

input{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover{
    background-color: darkviolet;
}